cmake-build-debug
*.iml
*.hprof
*.log
*.orig
*.swp
*.class
*.jar
*.war
*.ear
*.db
*.DS_Store
*.classfile
*.project
*.pyc
*.pyo
*.pyd
*.egg-info/
.vscode/
.cache/
.idea_modules/
target/
out/
build/
bin/
gen/
gen-*
*/gen-*
!gradle-wrapper.jar
!gradlew.bat
!gradlew

# Gradle files to ignore:
.gradle/
/gradle/
/gradle-wrapper.jar

# Android Studio files to ignore:
local.properties

# Kotlin files to ignore:
*.kotlin_module

# Flutter files to ignore:
.flutter-plugins-dependencies

# Node.js files to ignore:
node_modules/

# Python files to ignore:
__pycache__/

# JetBrains IDE files to ignore:
.idea/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/caches/
.idea/libraries/
.idea/artifacts/
.idea/gradle.xml
.idea/dictionaries
.idea/vcs.xml
.idea/sonarlint/
.idea/sonarlint-caches/
.idea/sonarlint-report-cache/

# Windows files to ignore:
Thumbs.db

# macOS files to ignore:
.DS_Store

# Linux files to ignore: